{
  "builddir": "",
  "buildlib": false,
  "buildtype": "release",
  "install-prefix": "/home/zorro/_mips_usrdir",
  "clean": true,
  "config": "",
  "cmake-param": ["-DCMAKE_TOOLCHAIN_ROOT=/opt/mips-gcc520-glibc222/bin","-DENABLE_MODULE_UART=ON","-DENABLE_MODULE_GPIO=ON","-DENABLE_MODULE_FFI=ON"],
  "compile-flag": ["-I/home/zorrosopc/_mips_usrdir/include/dbus-1.0","-I/home/zorrosopc/_mips_usrdir/include","-I/home/zorrosopc/_mips_usrdir/lib/dbus-1.0/include","-I/home/zorrosopc/_mips_usrdir/lib/libffi-3.2.1/include","-L/home/zorrosopc/_mips_usrdir/lib","-DENABLE_DEBUG_LOG"],
  "external-include-dir": [],
  "external-lib": [],
  "jerry-cmake-param": [],
  "jerry-compile-flag": ["-DENABLE_DEBUG_LOG"],
  "jerry-heaplimit": 4096,
  "jerry-link-flag": [],
  "jerry-lto": false,
  "jerry-memstat": false,
  "jerry-function-name": false,
  "link-flag": [],
  "no-check-tidy": false,
  "no-check-test": false,
  "no-init-submodule": false,
  "no-parallel-build": false,
  "no-snapshot": false,
  "sysroot": "",
  "target-arch": "mipsel",
  "target-os": "linux",
  "target-board": ""
}
